/* Error: Missing argument $padding.
 *    ,--> sass\config\layout\_mqueries\_mqnosotros.scss
 * 22 |        @include mar-pad(0px 0px 100px 0px);
 *    |        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> sass\config\reset\_mixins.scss
 * 16 | @mixin mar-pad($margin, $padding)
 *    |        ========================== declaration
 *    '
 *   sass\config\layout\_mqueries\_mqnosotros.scss 22:8  mar-pad()
 *   sass\config\layout\_mqueries\_mqnosotros.scss 22:8  @import
 *   sass\style.scss 36:9                                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $padding.\a    \250c \2500 \2500 > sass\\config\\layout\\_mqueries\\_mqnosotros.scss\a 22 \2502         @include mar-pad(0px 0px 100px 0px);\d\a    \2502         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > sass\\config\\reset\\_mixins.scss\a 16 \2502  @mixin mar-pad($margin, $padding)\d\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   sass\\config\\layout\\_mqueries\\_mqnosotros.scss 22:8  mar-pad()\a   sass\\config\\layout\\_mqueries\\_mqnosotros.scss 22:8  @import\a   sass\\style.scss 36:9                                root stylesheet";
}
