/*NOSOTROS*/

#title_nosotros
{
    font-family: $font-nosotros;
    font-size: 70px; 
    text-align: map-get($estilos , centrado );
    color: map-get($estilos , h1-color );
    margin-bottom: 50px;
}
.container_nosotros{
    background-color: $secondary-color;
    @include mar-pad(0px 60px 60px 60px,1.5%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: auto;
    &__nosotros_separacion
    {
        @include grid(60% 40%,1fr);
        &__item_1
        {
            max-width: 100%;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h2
            {
                font-size: 40px;
            }
            p
            {
                padding-left: 3px;
                max-width: 95%;
                font-size: inherit;
                line-height: 35px;
            }
        }
        &__item_2
        {
            @include wh(100%,440px);
            display: flex;
            flex-direction: column;
            gap: 5px;
            h2
            {
                font-size: 35px;
            }
            &__subitem1
            {
               width: 90%;
               display: flex;
               flex-direction: column;
               h3 
               {
                  font-size: 25px;  
               }
               input
               {
                  border: $gris 1px solid;
                  opacity: 0.9;
                  border-radius: 5px;
                  height: 40px;
                  box-shadow: 1px 4px 10px;
                  font-size: 24px;
               }
            }
            &__subitem2
            {
                display: flex;
                align-items: flex-end;
                gap: 10px;
                textarea{
                    @include wh(70%,180px);
                    max-width: 100%;
                    @include mar-pad(10px 0 0 0,8px);
                    border-radius: 10px;
                    box-shadow: map-get($box-shadow , textarea );
                    font-size: 24px;
                }
                input
                {
                    margin-top: 20px;
                    @include wh(18%,50px);
                    border-radius: 10px;
                    font-size: 15px;
                    &:hover
                    {
                        background-color: $black;
                        color: $white;
                        transition: 0.5s;
                    }
                }
            }
        }
    }  
    &__nosotros_separacion_2
    {
        padding-top: 3px;
        @include grid(0.5fr 1.2fr, auto);
        &__item_3
        {
            @include wh(100%,100%);
            iframe
            {
                @include wh(100%,246px);
            }
            &__item_3--click
            {
                width: 23px;
                margin-left: 10px;
            }
        }
        &__item_4
        {
            display: flex;
            width: 96%;
            align-items: map-get($estilos , centrado);
            justify-content: flex-start;
            gap: 10px;
            @include mar-pad(20px,10px);
            &__subitem_4
            {
                display: flex;
                flex-direction: column;
                align-items: map-get($estilos , centrado );
                width: 35%;
                gap: 10px;
                &--red-social
                {
                    width: 120px;
                }
                &--flecha
                {
                    width: 30px;
                    &:hover
                    {
                        width: 31px;
                        padding-bottom: 10px;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
}



