/* Mapas */
$box-shadow:(
    cabecera: 1px 5px 10px $gris,
    imagen-main: 0px 5px 30px 10px $black,
    elemento: 2px 3px 20px 2px $black,
    textarea: 10px 10px 10px $black
);
$estilos: (
    font-color: #283618,
    link-color:#101111,
    h1-color: #fefae0,
    card-color:#093d16,
    centrado: center,
    spaceado-bet: space-between,
    spaceado-aro: space-around,
    spaceado-even: space-evenly

);
