* 
{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: $principal-font;
    list-style: none;
    color: $font-color;
    box-sizing: border-box;
}

body
{
    background-color: #012c0c;
    min-width: 320px;
}

p
{
    margin: 0px;
}

h2
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

