* 
{
    @include mar-pad(0,0);
    text-decoration: none;
    font-family: $principal-font;
    list-style: none;
    color: map-get($estilos , font-color);
    box-sizing: border-box;
}

body
{
    background-color: $primary-color;
    min-width: 320px;
}

a
{
    text-decoration: none;
}

p
{
    @include mar-pad(0px,auto);
}

h2
{
    font-family: $h2-font;
}

