/*Style Home*/
/*Main*/  
    
    
        #front-principal
        {
            @include mar-pad(100px 0 130px 0,50px);
            background-color: $secondary-color;
            display: grid;
            grid-template-columns: 1fr 1fr; 
            gap: 20px; 
            max-width: 100%;
        
            #imagen-principal
            {
              box-shadow: map-get($box-shadow , imagen-main );
              width: 100%;
              border-radius: 30px;
              transform: scale(1.02);
              transition: 1s ease ;
              animation-name: sombra;
              animation-timing-function: linear;
              animation-duration: 4s;
              animation-iteration-count: infinite;
              animation-delay: 0.8s;
              animation-fill-mode: forwards;
            }
            
            #front_container
            {
              font-size: 20px;
              line-height: 40px;
            
                h2
                {
                   font-size: 46px;
                   font-style:italic;
                   text-align: map-get($estilos , centrado );
                }

                #hrr
                {
                   display: flex;
                   align-items: map-get($estilos , centrado );
                   justify-content: map-get($estilos , centrado );   
                
                   hr
                   {
                       @include wh(70%, 2px);
                       background-color: map-get($estilos , link-color );
                   }
                }

                p
                {
                    font-size: 27px;
                    max-width: 100%;
                    text-align: map-get($estilos, centrado );
                    line-height: 58px;
                }
            }
        }
    

    
    /*scroll abajo*/

    .front_secondary
    {
        background-color: $secondary-color;
        @include mar-pad(0px 0px 100px 0px, 70px);
        border-radius: 1px;
    
        &__productos 
        {
            padding-left: 1px;
            max-width: 100%;
            width: 100%;
            @include grid(1fr 1fr 1fr, auto);
            justify-items: map-get($estilos , centrado );
            overflow: hidden;
        
            &__element {
                @include wh(70%, 454px);
                @include mar-pad(61px, 0 0 15px 0);
                background-color: map-get($estilos , card-color );
                border-radius: 15px;
                max-height: 100%;
                box-shadow: map-get($box-shadow , elemento );
                max-width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: map-get($estilos , spaceado-bet );
                align-items: map-get($estilos , centrado);
                align-content: map-get($estilos , spaceado-bet );
            
                
                &--p
                {
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: map-get($estilos , centrado );
                    justify-content: map-get($estilos , centrado );
                    text-align: map-get($estilos , centrado );
                    color: $white;
                    padding: 40px
                }

                &--productos
                {
                    @include wh(100%,320px);
                    border-radius: 20px 20px 0px 0px; 
                }
            }
        }
    }
    
    
    
   