/*Header*/

header
{
    background-color: $primary-color;
    height: 108px;
    z-index: 1000;
    margin-bottom: 50px;
    h2
    {
        color: $black;
        font-family: $h1-header-font;
        font-size: 50px;
        padding: 15px 0px 0px 15px;
        text-align: map-get($estilos , centrado );
    }
    .navbar
    {
        background-color: gray;
        color: black;
        @include wh(100%,100px);
        position: fixed;
        top: 0;
        --bs-navbar-padding-y: 0;
        .nav-link
        {
            color: $black;
            &:hover
            {
                text-decoration: underline;
                transform: scale(1.1);
                transition: 0.1s ease;
            }
        }
    }
}
.container-fluid
{
    background-color: $secondary-color;
    padding: 11px;
}