
header 
{
    @include wh(100%, 90px);
    background-color: $secondary-color;
    display: flex;
    justify-content: map-get($estilos , spaceado-aro );
    align-items: map-get($estilos , centrado);
    position: fixed;
    top: 0;
    box-shadow: map-get($box-shadow, cabecera);
    z-index: 1000; 


    h1
    {
        color: $black;
        font-family: $h1-header-font;
        font-size: 50px;
        text-align: map-get($estilos , centrado );
        margin: 50px;
    }

    nav
    {
        width: 35%;
    
        ul 
        {
           display: flex;
           justify-content: map-get($estilos , spaceado-bet );
           font-size: 26px;
           margin: 0 auto;
        
           a 
           {
              text-decoration: none;
              color: map-get($estilos , link-color );
             
              &:hover
              {
                  text-decoration: underline;
                  font-size: 30px;
                  transition: 0.1s;
              } 
           }
        }  
    }
}





