/*header*/
/*---mobile: 480px---*/
/*---tablet: 768px ---*/

@media (max-width:768px)
{
    #container_principal_grid
   {
    grid-template-rows: 0.2fr 4fr 4fr 0.1fr;
   }
    
    header
    {
        @include wh(100%, 123px);
        justify-content: map-get($estilos , spaceado-bet);
        
    
        h1
        {
            margin: 33px;
        }

        nav
        {
            width: 100%;
        
           ul 
            {
               align-items: end;
               flex-direction: column;
               margin: 20px;
           
                a 
                {
                   font-size: 20px;
                }
            }
        }
    }
}

@media (max-width:400px)
{

    header
    {
        
        @include wh(100%, 85px);

        h1 
        {
           visibility: hidden;
           display: none;
        }

        nav
        {
            padding-right: 47px;
        
           ul 
            {
                width: 100%;
               justify-content: map-get($estilos , spaceado-aro);
               flex-direction: row;
            }
        }
    }
}