/*header*/
/*---mobile: 480px---*/
/*---tablet: 768px ---*/

@media (min-width:992px)
{
    .navbar-expand-lg .navbar-collapse
    {
        padding-left: 45%;
    }
    .navbar-expand-lg .navbar-nav
    {
        gap: 24px;
        .nav-link
        {
           font-size: 25px;
           color: $black;
        }
    }
}