/*  index  */
/*---mobile: 480px---*/
/*---tablet: 768px ---*/

@media(max-width:768px)
{
    
    
    #front-principal
    {

      display: grid;
      grid-template-columns: 1fr;
      text-align: map-get($estilos , centrado);
      grid-gap: 50px;

    }

    
    .front_secondary__productos 
    
    {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: map-get($estilos , centrado);
    
    }
    
 
}


@media(max-width:400px)
{

    #front-principal
    {
        @include mar-pad(28px 0 0 0,15px);
        gap: 15px;
    
        #imagen-principal
        {
           display: none;
           visibility: hidden;
        }
    
        #front_container h2
        {
           font-size: 34px;
           padding-bottom: 10px;
        }

        #front_container p 
        {
            font-size: 20px;
            line-height: 35px;
        }


    }

    
    .front_secondary
    {
        padding: 1px;
    
        &__productos
        {
            width: 100%;
            padding: 0px;
        
            &__element
            {
                margin: 60px;
                @include wh(80%,432px);
                

                &--productos
                {
                   height: 294px;
                }
            }
        }
    }
}











