
/*---Menu------*/
/*---mobile: 480px---*/
/*---tablet: 768px ---*/

@media(max-width:768px)
{
    #title_menu
    {
       font-size: 40px;
       padding-top: 0px;
    }
    .container_produc
    {
        margin: 30px 0px 50px 0px;
        border-radius: 0px;
        h2
        {
            font-size: 30px;
        }
        .front_producto
        {
            padding-bottom: 5px;
           .carousel 
           {
             width: 46.3%;
               h3
               {
                  font-size: 25px;
               }
               .carousel-inner
               {
                 width: 98%;
               }
           }
        }
    }
}

@media(max-width:400px)
{
    #title_menu
    {
        font-size: 40px;
    }
    .container_produc
    {
        padding-top: 10px;
        h2
        {
            font-size: 40px;
        }
        .front_producto
        {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: map-get($estilos , centrado );
            grid-gap: 50px;
            .carousel
            {
                width: 80.3%;
            }
        }
    }
}